{% extends 'main.html' %}
{% load staticfiles %}



{% block title %}{{ article.article_title }}{% endblock title %}

{% block content %}

    <div class="container" style="padding: 20px">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5>Дата публикации: {{ article.article_date }}</h5>
                <h3>{{ article.article_title }}</h3>
            </div>
            <div class="panel-body">
                {% autoescape off %}{{ article.article_text }}{% endautoescape %}
            </div>
        </div>
        <div>
            <a href="{% url 'main:articles' %}" class="btn btn-info" role="button" data-toggle="tooltip" title="Назад" data-placement="right"><img src="{% static 'back.gif' %}"></a>
        </div>

    </div>

    <!-- Это код позволяет отображать подсказки при наведении курсора -->
    <script>
        $(document).ready (function (){
            $('[data-toggle="tooltip"]').tooltip ();
        });
    </script>

{% endblock content %}

