<!doctype html>
<html class="no-js" lang="en" id="html" data-ng-app="sf.site">
    <head>
        <meta charset="utf-8">

        <base href="/">

		<title>Premium | Solidfiles</title>

        <link rel="stylesheet" type="text/css" href="https://solidfilescdn.com/static/css/main.f39655ed2c2e.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <meta name="token" content="yhdrO8eU9gQcKymjgjSQlkhe1lVcFbNJ"/>


            <meta name="description" content="Solidfiles is a free service used to download, upload and share files with friends, colleagues and the world.">



            <meta name="keywords" content="free file hosting,free file sharing,file sharing,files,upload,download,file manager,file host,image host,hosting,images,videos,music">



        <meta property="fb:page_id" content="236192573576">



            <link rel="apple-touch-icon" sizes="57x57" href="https://solidfilescdn.com/static/icons/apple-touch-icon-57x57.22d321605526.png">
            <link rel="apple-touch-icon" sizes="60x60" href="https://solidfilescdn.com/static/icons/apple-touch-icon-60x60.4096c46926e9.png">
            <link rel="apple-touch-icon" sizes="72x72" href="https://solidfilescdn.com/static/icons/apple-touch-icon-72x72.7de668c1c8ec.png">
            <link rel="apple-touch-icon" sizes="76x76" href="https://solidfilescdn.com/static/icons/apple-touch-icon-76x76.c196946997f3.png">
            <link rel="apple-touch-icon" sizes="114x114" href="https://solidfilescdn.com/static/icons/apple-touch-icon-114x114.294af7e111c8.png">
            <link rel="apple-touch-icon" sizes="120x120" href="https://solidfilescdn.com/static/icons/apple-touch-icon-120x120.4ad3396fdde4.png">
            <link rel="apple-touch-icon" sizes="144x144" href="https://solidfilescdn.com/static/icons/apple-touch-icon-144x144.3b96aefaf97d.png">
            <link rel="apple-touch-icon" sizes="152x152" href="https://solidfilescdn.com/static/icons/apple-touch-icon-152x152.ffa0539a9ebf.png">
            <link rel="apple-touch-icon" sizes="180x180" href="https://solidfilescdn.com/static/icons/apple-touch-icon-180x180.999e959518d2.png">
            <link rel="icon" type="image/png" href="https://solidfilescdn.com/static/icons/favicon-16x16.0343d998569a.png">
            <link rel="icon" type="image/png" href="https://solidfilescdn.com/static/icons/favicon-32x32.ff23f4220d7c.png">
            <link rel="icon" type="image/png" href="https://solidfilescdn.com/static/icons/favicon-96x96.25178e08097e.png">
            <link rel="icon" type="image/png" href="https://solidfilescdn.com/static/icons/favicon-230x230.de8efa4d3928.png">
            <link rel="icon" type="image/png" href="https://solidfilescdn.com/static/icons/android-chrome-36x36.ddffebbcc301.png">
            <link rel="icon" type="image/png" href="https://solidfilescdn.com/static/icons/android-chrome-48x48.ed8209c45fab.png">
            <link rel="icon" type="image/png" href="https://solidfilescdn.com/static/icons/android-chrome-72x72.7de668c1c8ec.png">
            <link rel="icon" type="image/png" href="https://solidfilescdn.com/static/icons/android-chrome-96x96.25178e08097e.png">
            <link rel="icon" type="image/png" href="https://solidfilescdn.com/static/icons/android-chrome-144x144.3b96aefaf97d.png">
            <link rel="icon" type="image/png" href="https://solidfilescdn.com/static/icons/android-chrome-192x192.2c328923a857.png">
            <link rel="manifest" href="https://solidfilescdn.com/static/icons/manifest.36e31ee5e4b4.json">
            <link rel="shortcut icon" href="https://solidfilescdn.com/static/icons/favicon.7bce66cc0baa.ico">
            <meta name="apple-mobile-web-app-title" content="Solidfiles">
            <meta name="application-name" content="Solidfiles">
            <meta name="msapplication-TileColor" content="#1b99b9">
            <meta name="msapplication-TileImage" content="https://solidfilescdn.com/static/icons/mstile-144x144.3b96aefaf97d.png">
            <meta name="msapplication-config" content="https://solidfilescdn.com/static/icons/browserconfig.2549b9d30b59.xml">
            <meta name="theme-color" content="#1b99b9">



        <script>!function(e,t,a,n,c,o,s){e.GoogleAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,o=t.createElement(a),s=t.getElementsByTagName(a)[0],o.async=1,o.src=n,s.parentNode.insertBefore(o,s)}(window,document,'script','https://www.google-analytics.com/analytics.js','ga'),ga('create','UA-12863264-1','auto');</script>



        <script>ga('send', 'pageview');</script>




                <!-- start Mixpanel -->
                <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
                for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
                mixpanel.init("ae4e00a81c2d7f761f38a7128883c258", {track_pageview: false});</script>
                <!-- end Mixpanel -->







        <script src="https://solidfilescdn.com/static/js/vendor/modernizr-2.8.3.min.da941a6e1e1d.js"></script>


        <script>navigator.appVersion.indexOf('Win')!==-1&&(document.documentElement.className+=' win');</script>






	</head>

	<body class="site plans ng-cloak">
        <div id="fb-root"></div>

        <div id="outdated">
             <h6>Your browser is out-of-date!</h6>
             <p>Update your browser to view this website correctly. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Update my browser now </a></p>
             <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
        </div>


    <header id="header">

            <nav class="navbar navbar-site" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo" href="/">Solidfiles</a>
                    </div>

                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">

                                <li><a href="/">Home</a></li>
                                <li>
                                    <a href="/signup">Sign up</a>
                                </li>
                                <li>
                                    <a class="visible-xs" href="/login">Sign in</a>
                                    <div class="navbar-btn hidden-xs">
                                        <button class="btn btn-default btn-outline" signin-button>Sign in</button>
                                    </div>
                                </li>

                        </ul>
                    </div>
                </div>
            </nav>

    </header>

    <div id="content">


    <section id="top" class="page-header text-center">
        <h1>


            Go Premium.


        </h1>


            <h2>Starting at $5.00 per month. Cancel anytime. 14 day money-back guarantee.</h2>

    </section>

    <section id="plans" ng-controller="PlansController as ctrl">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-8 col-centered">
                    <fieldset class="subscription">
                        <ul>

                                <li class="radio-btn">
                                    <input id="plan-monthly-v1" name="plan" type="radio" ng-model="ctrl.selectedPlan" ng-value="'monthly-v1'"/>
                                    <label for="plan-monthly-v1">
                                    <span class="text">
                                        <span class="name">Monthly</span>
                                        <span class="price" ng-class="{'red': $last}">
                                            $9.99 per month


                                        </span>
                                    </span>
                                    </label>
                                </li>

                                <li class="radio-btn">
                                    <input id="plan-quarterly-v1" name="plan" type="radio" ng-model="ctrl.selectedPlan" ng-value="'quarterly-v1'"/>
                                    <label for="plan-quarterly-v1">
                                    <span class="text">
                                        <span class="name">Quarterly</span>
                                        <span class="price" ng-class="{'red': $last}">
                                            $22.50 per quarter


                                                <span>(7.50/month)</span>

                                        </span>
                                    </span>
                                    </label>
                                </li>

                                <li class="radio-btn">
                                    <input id="plan-yearly-v2" name="plan" type="radio" ng-model="ctrl.selectedPlan" ng-value="'yearly-v2'"/>
                                    <label for="plan-yearly-v2">
                                    <span class="text">
                                        <span class="name">Yearly</span>
                                        <span class="price" ng-class="{'red': $last}">
                                            $60.00 per year


                                                <span>(5.00/month)</span>

                                        </span>
                                    </span>
                                    </label>
                                </li>

                        </ul>

                        <p class="discount">

                                Save 50% by paying yearly!

                        </p>
                    </fieldset>

                    <p>
                        <a href="/signup?next=/premium%3Fbuy%3D1" class="btn btn-success btn-block btn-lg btn-icon-right buy-button">
                            Buy now
                            <i class="fa fa-check-circle"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-4 noads">
                <h2>
                    <i class="fa fa-thumbs-o-up"></i>
                    Ad Free
                </h2>
                <p>
                    Tired of all the annoying ads? Don't worry, with Premium you and your downloaders will never have to be bothered by them again.
                </p>
            </div>

            <div class="col-md-4 storage">
                <h2>
                    <i class="fa fa-hdd-o"></i>
                    1 Terabyte Storage
                </h2>
                <p>
                    You'll never have to worry about running out of storage space. Store HD videos, lossless music, RAW image files or large documents.
                </p>
            </div>


            <div class="col-md-4 speed">
                <h2>
                    <i class="fa fa-tachometer"></i>
                    Unlimited Download Speed
                </h2>

                <p>
                    Download files in lightning speed. With Premium there is no speed restriction and you'll download faster than ever before.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 downloads">
                <h2>
                    <i class="fa fa-cloud-download"></i>
                    Direct Downloads
                </h2>
                <p>
                    Your downloads start instantaneously, bypassing the download page completely, ensuring you and your downloaders get your files as fast as possible.
                </p>
            </div>

            <div class="col-md-4">
                <h2>
                    <i class="fa fa-upload"></i>
                    Upload Large Files
                </h2>
                <p>
                    Upload massive files up to 30 GB in size. Never think about where to store that huge 1080p HD video again.
                </p>
            </div>


            <div class="col-md-4 retention">
                <h2>
                    <i class="fa fa-clock-o"></i>
                    Long Term Storage
                </h2>

                <p>
                    Your files remain on your account forever. Never worry about losing them again, we'll keep them safe in our cloud.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>
                    <i class="fa fa-fast-forward"></i>
                    Download Accelerator Support
                </h2>
                <p>
                    Get your files even faster with a download accelerator of your choice. Support for JDownloader and other popular choices.
                </p>
            </div>

            <div class="col-md-4">
                <h2>
                    <i class="fa fa-pause-circle-o"></i>
                    Resumable Downloads
                </h2>

                <p>
                    Are you on a shaky connection or do you download huge files? Pause and resume your downloads for up to 7 days after starting them.
                </p>
            </div>
            <div class="col-md-4">
                <h2>
                    <i class="fa fa-lock"></i>
                    Access Controls
                </h2>
                <p>
                    With our advanced access controls you can choose to password protect your files or even self-destruct the files after a set amount of time.
                </p>
            </div>
        </div>
    </div>
</section>


    <section id="faq">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>What payment methods do you support?</h4>
                    <p>We support credit card payments with Visa, MasterCard and American Express.</p>
                </div>
                <div class="col-md-4">
                    <h4>Do you have a money-back guarantee?</h4>
                    <p>Yes, if you're feeling unsatisfied, just get in touch with us within 14 days of your purchase and we'll refund you fully, no questions asked.</p>
                </div>
                <div class="col-md-4">
                    <h4>Can I cancel my subscription at any time?</h4>
                    <p>Yes! There are no lock-ups. You can cancel whenever you feel like it from the subscription settings page.</p>
                </div>
            </div>
        </div>
    </section>




    </div>


    <footer id="footer">

        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <ul class="list-unstyled">

                        <li class="heading">
                            Solidfiles
                        </li>
                        <li>
                            <a href="/about">About us</a>
                        </li>
                        <li>
                            <a href="/faq">FAQ</a>
                        </li>

                        <li>
                            <a href="/premium">Premium</a>
                        </li>


                    </ul>
                </div>
                <div class="col-md-2 col-sm-2">
                    <ul class="list-unstyled">
                        <li class="heading">
                            Support
                        </li>



                                <li>
                                    <a href="#" data-mailto="c3VwcG9ydEBzb2xpZGZpbGVzLmNvbQ==">Contact us</a>
                                </li>


                        <li>
                            <a href="/terms">Terms of Service</a>
                        </li>

                        <li>
                            <a href="/privacy">Privacy Policy</a>
                        </li>

                        <li>
                            <a href="/copyright">Copyright</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-2 col-sm-2">
                    <ul class="list-unstyled">
                        <li class="heading">
                            Tools
                        </li>

                        <li>
                            <a href="http://status.solidfiles.com">Status</a>
                        </li>

                    </ul>
                </div>

                <div class="col-md-6 col-sm-6 right">
                    <p class="copy">
                        Copyright &copy; 2017 Solidfiles.
                    </p>

                    <div class="social">

                        <a href="https://www.facebook.com/Solidfiles" class="btn btn-social facebook icon">
                            <i class="fa fa-facebook"></i>
                        </a>



                        <a href="https://www.twitter.com/solidfiles" class="btn btn-social twitter icon">
                            <i class="fa fa-twitter"></i>
                        </a>



                        <a href="https://plus.google.com/118110722916749066820" class="btn btn-social google icon">
                            <i class="fa fa-google-plus"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>

    </footer>







                <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                <script>window.jQuery || document.write('<script src="https://solidfilescdn.com/static/js/vendor/jquery-2.1.1.min.e40ec2161fe7.js"><\/script>')</script>




                    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>





    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script>window.angular || document.write('<script src="https://solidfilescdn.com/static/js/vendor/angular.min.0744b6e5cd7b.js"><\/script>')</script>



<div id="fb-root"></div>
<script id="allauth-facebook-settings" type="application/json">
{"loginByTokenUrl": "https://www.solidfiles.com/facebook/login/token/", "locale": "en_US", "csrfToken": "yhdrO8eU9gQcKymjgjSQlkhe1lVcFbNJ", "errorUrl": "https://www.solidfiles.com/login/error", "appId": "232963170098948", "loginUrl": "https://www.solidfiles.com/facebook/login/", "loginOptions": {"scope": "email"}, "version": "v2.10", "logoutUrl": "https://www.solidfiles.com/logout", "cancelUrl": "https://www.solidfiles.com/login/cancelled", "initParams": {"version": "v2.10", "appId": "232963170098948"}}
</script>
<script type="text/javascript" src="https://solidfilescdn.com/static/facebook/js/fbconnect.b7790a622392.js"></script>










        <script src="https://solidfilescdn.com/static/js/main-vendor.d6e57314c3e1.js"></script>
        <script src="https://solidfilescdn.com/static/js/main.14ece067e67f.js"></script>


    <script>$(function(){FastClick.attach(document.body)});</script>


        <script>$(function(){outdatedBrowser({lowerThan:'transform',languagePath:''})});</script>


    <script>angular.module('sf').constant('config', {"logoutPath":"/logout","siteName":"Solidfiles","siteType":"storage","refreshTokenPath":"/app/refresh_token","apiBase":"https://www.solidfiles.com/api/","stripeKey":"pk_live_tb6tlsFxcbpSeYTWvZqlB8Bt","loginPath":"/app/login","features":{"ftp":false,"referrals":false,"streams":true,"selfDestruction":true,"billing":true,"passwordProtection":true,"downloads":true,"affiliates":false},"trialDays":60,"appPath":"/app","guestSizeLimit":524288000,"staticPath":"https://solidfilescdn.com/static/","apiBatchUrl":"https://www.solidfiles.com/api/batch","auth":"","expiryDays":-1,"templatePath":"https://solidfilescdn.com/static/templates/","siteUrl":"https://www.solidfiles.com/","expiredRetentionDays":30,"debug":false,"supportEmail":"support@solidfiles.com","playerLogoUrl":"https://solidfilescdn.com/static/img/player-logo.8d70387a6a09.png","fileExts":[]});</script>


    <script>angular.module('sf').constant('socialProviders', [{"loginUrl":"javascript:allauth.facebook.login%28%27%27%2C%20%27authenticate%27%2C%20%27login%27%29","id":"facebook","name":"Facebook"},{"loginUrl":"/google/login/","id":"google","name":"Google"}]);</script>


    <script>angular.module('sf.site').constant('SELECTED_PLAN','monthly-v1'),angular.module('sf.site').constant('TRIAL_ELIGIBLE','False');</script>



            <script>!function(e,t,n){function a(){var e,a=t.getElementsByTagName(n)[0],o=function(o,d,c){t.getElementById(d)||(e=t.createElement(n),e.src=o,e.id=d,'undefined'!=typeof c&&(e.onload=e.onreadystatechange=c),a.parentNode.insertBefore(e,a))};o('//connect.facebook.net/en_US/all.js#xfbml=1&appId=232963170098948','facebook-jssdk'),o('//platform.twitter.com/widgets.js','twitter-wjs')}e.addEventListener?e.addEventListener("load",a,!1):e.attachEvent&&e.attachEvent("onload",a)}(window,document,'script');</script>



	</body>
</html>
