{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">  <!-- для адаптации в смартфонах -->

    <title>Blog ItWin || {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">

    <!-- подключение bootstrap -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% static "style.css" %}

</head>

<body style="background: #eeeeee">

<div class="navbar navbar-default navbar-fixed-top" style="background-color: #689ecc; border-color: #181dae">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'main:index' %}">Logo Company</a>
            <a class="navbar-brand" href="{% url 'main:articles' %}">My topics</a>
            <a class="navbar-brand" href="admin/">Admin Panel</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    {#выпадающее меню#}
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle"
                                data-toggle="dropdown" style="margin: 8px;">Usefull sources<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header" style="color: #c7254e">Разработка</li>
                            <li><a href="https://github.com/">GitHub</a></li>
                            <li><a href="https://hub.docker.com/">Docker Hub</a></li>
                            <li><a href="https://travis-ci.org/">Travis CI</a></li>
                            <li><a href="https://bettercodehub.com/">Better Code Hub</a></li>
                            <li><a href="https://aws.amazon.com/ru/">Amazon Web Services</a></li>
                            <li><a href="https://www.heroku.com/">Heroku</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header" style="color: #c7254e">Обсуждение</li>
                            <li><a href="https://habrahabr.ru/">Хабрахабр</a></li>
                            <li><a href="https://toster.ru/">Тостер</a></li>
                            <li><a href="https://stackoverflow.com/">Stack Overflow</a></li>
                        </ul>
                    </div>
                    {#конец выпадающему меню#}
                </li>
            </ul>

            {#            панель авторизации#}
            {#            <form class="navbar-form navbar-right">#}
            {#                <div class="form-group">#}
            {#                    <input type="text" placeholder="Email" class="form-control">#}
            {#                </div>#}
            {#                <div class="form-group">#}
            {#                    <input type="password" placeholder="password" class="form-control">#}
            {#                </div>#}
            {#                <button type="submit" class="btn btn-success">Go</button>#}
            {#            </form>#}
        </div>
    </div>
</div>

<div class="jumbotron">
    <div style="padding: 2%">
        {% block content %} {% endblock %}
    </div>
</div>


<div class="container" style="position: fixed; bottom: 20px;">
    <p>&copy; Все права защищены 2017</p>
    <img src='https://bettercodehub.com/edge/badge/ARTobstrel/MyDeployProject?branch=master'>
</div>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>